@model ChanceQuest.Models.Player.PlayerSummary

@{
    ViewData["Title"] = "Summary";
}

<h2>Summary</h2>

<div>
    <h4>PlayerSummary</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.CharacterName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CharacterName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.PeasantHappiness)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.PeasantHappiness)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.NobleHappiness)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.NobleHappiness)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.RoyalHappiness)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.RoyalHappiness)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.FavorableStatId)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.FavorableStatId)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
